html{
  height: 100%;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background: url('../img/bg.jpeg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  height: 100%;
}

a {
  &:hover {

  }
}
