.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  & > h1 {
    font-size: 5rem;
  }
}
//--files 'src/**/*.*, src/**/*.html, src/*.html'
//tar xvf pornel-pngquant-2.5.2-10-g34ba88e.tar.gz